.container {
    height: 48px;
    background: #EFF5E1;
    border: 1px solid rgba(0, 0, 0, 0.08);
    
}

.text {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #474747;
}

.icon4 {
    color: #ffffff;
    z-index: 2;
    font-size: 2rem;
    fill: #474747;
    cursor: pointer;
}

tbody td {
    text-align: center;
}

td {
    padding: 3px;
    letter-spacing: 1px;
}