.container {
  height: 48px;
  background: #eff5e1;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
}

.width1 {
  width: 20%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #474747;
}

.width2 {
  width: 20%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #474747;
}

.width3 {
  width: 10%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #474747;
}

.width4 {
  width: 30%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #474747;
}

.width5 {
  width: 20%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #474747;
}



th {
  padding: 5px;
}
