.container {
    height: 48px;
    background: #EFF5E1;
    border: 1px solid rgba(0, 0, 0, 0.08);
}


th {
    padding: 5px;
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #474747;
}
  
