.container {
    
    height: 48px;
    background: #EFF5E1;
    border: 1px solid rgba(0, 0, 0, 0.08);
    
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65px;
    height: 28px;
    background: #02018C;
    border-radius: 8px;
    color: #ffffff;
    align-items: center;
    padding: 1rem;
}

.icon1 {
    background: rgba(2, 1, 140, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
    border-radius: 8px;
    width: 30px;
    height: 28px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 118px;
    background: #02018C;
    border-radius: 8px;
}

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}

.text {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #474747;
}

.text2 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
}

.icon4 {
    color: #ffffff;
    z-index: 2;
    font-size: 2rem;
    fill: rgba(20, 212, 33, 0.29);
    cursor: pointer;
}

.icon5 {
    color: #ffffff;
    z-index: 2;
    font-size: 2rem;
    fill: #14D421;
    ;
    cursor: pointer;
}

.icon3 {
    color: #ffffff;
    z-index: 2;
    font-size: 2rem;
    fill: #474747;
    cursor: pointer;
}

.icon2 {
    color: #ffffff;
    z-index: 2;
    font-size: 4rem;
    fill: #ffffff;
    cursor: pointer;
}

tbody td {
    text-align: center;
}

td {
    padding: 5px;
    letter-spacing: 1px;
}

