.container {
  height: 48px;
  background: #eff5e1;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0 2rem;
  width: 100%;
}

.width1 {
  width: 25%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #474747;
}

.width2 {
  width: 25%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #474747;
}

.width3 {
  width: 25%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #474747;
}

.width4 {
  width: 25%;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #474747;
}

th {
  padding: 5px;
}

@media (min-width: 768px) {
  .width1 {
    font-size: 18px;
  }

  .width2 {
    font-size: 18px;
  }

  .width3 {
    font-size: 18px;
  }

  .width4 {
    font-size: 18px;
  }

  .container {
    padding: 0;
  }
}
